/*2*/

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(52, 194, 242);
    position: absolute;
}

.active {
    background-color: rgb(138, 74, 162)
}
